.grid {
  overflow-y: scroll;
  display: flex;
  max-height: 85%;
  margin: auto 20px;
  flex-wrap: wrap;
  // gap: 1rem;
  .block {
    position: relative;
    overflow: hidden;
    // width: 0;
    height: 250px;
    background: #ec985a;
    color: #ffffff;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
    flex: 2 0 auto;
    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 120%;
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @for $i from 1 through 10 {
    div:nth-child(#{$i}) {
      $h: (random(300) + 250) + px;
      width: $h;
    }
  }
}
